<h1>Pirate</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>


<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ship">
    <h2>Ship Name: <%= ship.name %></h2>
    <h2>Ship Booty:<%= ship.booty %></h2>
    <h2>Ship Type:<%= ship.type %></h2>
</div><br>
<% end %>

<h2>Display your second ship here</h2>
